h1, h2{
    text-align: center;
    margin: 50px auto 50px auto;
    color: black;
}
h2{
    text-decoration: underline;
}
h3{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.option-group {
    margin-top: 5px;
}
#profile-btn-cont {
    margin: 65px auto 75px auto;
}
.error {
    background-color: #ff4646;
    color: #790000;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 12px;
}
.http-error{
    margin-top: 150px;
    color: red;
}
.border {
    border: 1px solid black;
}
.center {
    text-align: center;
}
#options-error{
    margin-top: -10px;
}
#incomplete-cont {
    margin-top: 25px;
}
#btn-cont{
    margin-top: 25px;
}
button:hover{
    cursor: pointer;
}
