<div class="row center-text" id="header">
    <div class="col">
        <h1>Voting App</h1>
    </div>
</div>
<div class="row center-text" id="nav">
    <div class="col p-2" id="home" routerLink="/home" routerLinkActive="active">Home</div>
    <div class="col p-2" id="sign" routerLink="/signup" routerLinkActive="active" *ngIf="!isLoggedIn()">Sign Up</div>
    <div class="col p-2" id="log" routerLink="/login" routerLinkActive="active" *ngIf="!isLoggedIn()">Login</div>
    <div class="col p-2" id="sign" routerLink="/profile" routerLinkActive="active" *ngIf="isLoggedIn()">Profile</div>
    <div class="col p-2" id="log" (click)="logout()" *ngIf="isLoggedIn()">Logout</div>
</div>
<router-outlet></router-outlet>